<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/CSS/login2.css' %}">
    <title>Login - Streema</title>
    <link rel="icon" href="{% static 'Images/ikona.png' %}" type="image/x-icon">

</head>
<body>
<div class="upper">
    <div class="logo">
        <a href="#">
            <img src="{% static '/Images/logo.png'%}" class="img-logo"/>
        </a>
    </div>
    <div class="login-div">
        <form class="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Sign In</h1>
            <div class="input-text">
                <input type="text" id="inputEmail" name="email" placeholder="Email address" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningEmail">
                    Please enter a valid email.
                </div>
            </div>

            <div class="input-text">
                <input type="password" id="inputPassword" name="password" placeholder="Password" onfocus="inputOnFocus(this)" onblur="inputOnBlur(this)"/>
                <div class="warning-input" id="warningPassword">
                    Your password must contain between 8 and 60 characters.
                </div>
            </div>

            <div>
                <button type="submit" class="signin-button">LogIn</button>
            </div>
            <div class="remember-flex">
                <div>
                    <input type="checkbox">
                    <label class="color_text">Remember me</label>
                </div>
                <div class="help">
                    <a class="color_text" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Need help?</a>
                </div>
            </div>
            <div class="new-members">
                New to Streema? <a href="{% url 'signup' %}" class="signup-link">Sign up now</a>.
            </div>
            <div class="protection color_link help">
                This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </div>
        </form>
    </div>
</div>

<script src="{% static '/JS/login-script.js' %}"></script>
</body>
</html>