<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streema - Home</title>
    <link rel="icon" href="{% static 'Images/ikona.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body id="top">
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand me-lg-5" href="{% url 'index' %}"><img src="{% static 'Images/logo.png' %}" alt="Streema" height="40px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'movies' %}">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'series' %}">Series</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="text" id="searchBar" onkeyup="searchTitles()" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success me-5" id="search-btn" type="submit">Search</button>
                </form>
                <div class="d-flex">
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2 my-2">Sign out</a>
                </div>
            </div>
        </div>
    </nav>

    <!--Carousel-->
    <section class="top-carousel">
        <div class="heading">
            <h4>Recommended Movies</h4>
        </div>
        <div class="movie-container">
            <div class="wrapper">
                <ul class="carousel">
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/captain-marvel.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Captain Marvel</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/dune.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Dune</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/interstaller.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Interstaller</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/venom.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Venom</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/spider-men.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Spider Man</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/matrix.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Matrix</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/casino-royale.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Casino Royale</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/panther.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Black Panther</h5>
                    </li>
                    <li class="card">
                        <div class="img">
                            <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/red-notice.jpg' %}" alt="" /></a>
                        </div>
                        <h5>Red Notice</h5>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    
    <!-- Popular Movies -->
    <section class="latest-movies" id="LatestMovies">
        <div class="heading">
            <h4 class="category-title">Most Popular</h4>
        </div>
        <section class=" row cards-collection" id="movieSection">
            <div class=" col-lg-10 cards">
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"><img src="{% static 'Images/movies/free-guy.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Free Guy</h5></a>
                        <time datetime="2021">2021</time>
                    </div>
                    <div class="badge badge-outline">4K</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'joker' %}"><img src="{% static 'Images/movies/joker.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'joker' %}"><h5>Joker</h5></a>
                        <time datetime="2019">2019</time>
                    </div>
                    <div class="badge badge-outline">4K</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'bossbaby' %}"><img src="{% static 'Images/movies/boss-baby.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'bossbaby' %}"><h5>Boss Baby</h5></a>
                        <time datetime="2017">2017</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/uncharted.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Uncharted</h5></a>
                        <time datetime="2022">2022</time>
                    </div>
                    <div class="badge badge-outline">2K</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/Fast-9.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Fast 9</h5></a>
                        <time datetime="2021">2021</time>
                    </div>
                    <div class="badge badge-outline">2K</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/pirates-of-the-caribbean.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Pirates of the Caribbean</h5></a>
                        <time datetime="2003">2003</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/sonic.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Sonic the Hedgehog 2</h5></a>
                        <time datetime="2022">2022</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/venom.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Venom</h5></a>
                        <time datetime="2018">2018</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/tenet.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Tenet</h5></a>
                        <time datetime="2020">2020</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/top-gun.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Top Gun</h5></a>
                        <time datetime="1986">1986</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
            </div>
    </section>

    <!-- Latest Movies -->
    <section class="latest-movies" id="LatestMovies">
        <div class="heading">
            <h4 class="category-title">Latest Movies</h4>
        </div>
        <section class=" row cards-collection" id="movieSection">
            <div class=" col-lg-10 cards">
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/adam-project.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Adam Project</h5></a>
                        <time datetime="2022">2022</time>
                    </div>
                    <div class="badge badge-outline">4K</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/1917.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>1917</h5></a>
                        <time datetime="2020">2020</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/bolt.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Bolt</h5></a>
                        <time datetime="2008">2008</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/dark-knight.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Dark Knight</h5></a>
                        <time datetime="2008">2008</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/matrix.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>The Matrix 4</h5></a>
                        <time datetime="2021">2021</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/dune.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Dune</h5></a>
                        <time datetime="2021">2021</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static "Images/movies/We're_the_Millers_poster.jpg" %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>We're the Millers</h5></a>
                        <time datetime="2013">2013</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/the-northman.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>The Northman</h5></a>
                        <time datetime="2022">2022</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/the terminal.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>The Terminal</h5></a>
                        <time datetime="2004">2004</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/death-of-the-nile.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Death of the Nile</h5></a>
                        <time datetime="2022">2022</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
            </div>
    </section>

    <!-- TV Shows -->
    <section class="latest-movies" id="TVShows">
        <div class="heading">
            <h4 class="category-title">TV Shows</h4>
        </div>
        <section class=" row cards-collection" id="movieSection">
            <div class=" col-lg-10 cards">
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/friends.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Friends</h5></a>
                        <time>S10</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/breaking.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Breaking Bad</h5></a>
                        <time>S5</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/peaky-blinders.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Peaky Blinders</h5></a>
                        <time>S6</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/got.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Game of Thrones</h5></a>
                        <time>S8</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/halo-series.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Halo</h5></a>
                        <time>S2</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/loki.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Loki</h5></a>
                        <time>S2</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/lucifer-series.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Lucifer</h5></a>
                        <time >S6</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/money-heist-series.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Money Heist</h5></a>
                        <time>S5</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/vikings-series.png' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>Vikings</h5></a>
                        <time>S6</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
                <div class="movies-card">
                    <a href="{% url 'freeguy' %}"> <img src="{% static 'Images/movies/the-office.jpg' %}"></a>
                    <div class="title-wrapper">
                        <a href="{% url 'freeguy' %}"><h5>The Office</h5></a>
                        <time>S9</time>
                    </div>
                    <div class="badge badge-outline">HD</div>
                </div>
            </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row footer">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="img">
                        <img src="{% static 'Images/logo.png' %}" height="60px" />
                    </div>
                    <div class="title">
                        <small>Online Streaming Platform</small>
                    </div>
                    <br>
                    <div>
                        <p>
                            Streema is an online streaming platform that offers a vast selection of movies and TV shows across various genres. From the latest blockbusters to timeless classics, Streema provides a seamless and enjoyable streaming experience. Streema is your one-stop shop for all your entertainment needs.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4 class="footer-titles">Quick links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'movies' %}">Movies</a></li>
                        <li><a href="{% url 'series' %}">Series</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4 class="footer-titles">Categories</h4>
                    <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">Drama</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Horror</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <h4 class="footer-titles">Follow Us</h4>
                    <ul class="links">
                        <li><a href="https://linkedin.com/in/klodianvukzaj"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="https://instagram.com/klodivukzaj"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://twitter.com/KlodiVukzaj"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube"></i> YouTube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/carousel.js' %}"></script>
        <script src="{% static 'JS/Search.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
</body>
</html>